{% extends "Main/base.html" %}

{% load static %}
{% load crispy_forms_tags }
{% block content %}

<div class="authSection">
  
<div class="heading ">
    <b>Change Password</b>
    <hr class="desktop" style="margin:0;border-width: medium;border-color: #D41367;width:85%;margin-top:1vw;float:left">
    <br class="desktop"><br class="desktop">
    <hr class="mobile" style="margin:0;border-width: medium;border-color: #D41367;width:100%;margin-top:1vw">
</div>


<form method="post" action="{% url 'passwordChange' %}">
    {% csrf_token %}
    
    
        {% if form.errors.old_password %}
        <div class="error">
        {{ form.old_password }}
        <p>{{ form.errors.old_password.as_text }}</p>
        </div>
        {% else %}
        {{ form.old_password }}
        {% endif %}

        {% if form.errors.new_password2 %}
        <div class="error">
        {{ form.new_password1 }}
        {{ form.new_password2 }}
        <p>{{ form.errors.new_password2.as_text }}</p>
        </div>
        {% else %}
        {{ form.new_password1 }}
        {{ form.new_password2 }}
        {% endif %}
        
    <input  type="submit" id="loginButton1" value="Change Password"></input>
  </form>
  <br class="desktop"><br class="desktop"><br class="desktop">
</div>
  
{% endblock content%}
