{% extends "Main/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block contents %}

<div id="listSection">
  
<div class="heading text-center">
  <h4 id="reportHeading1"><b>{{ user.name }}Blah </b></h4>
  <img id="reportImage1" src="{{STATIC_URL}}{{ profile.logo.url }}" alt="Rotaract">
  {% if profile.zone %}
  <h4 id="reportHeading2"><b><h4>Zone {{ profile.zone }} - {{ user.rotaryId }}</h4></b></h4>
  {% else %}    
  <h4 id="reportHeading2"><b><h4>{{ user.rotaryId }}</h4></b></h4>
  {% endif %}     
    <hr class="desktop" style="margin:0;border-width: medium;border-color: #D41367;width:100%;margin-top:1vw;">
    <br>
    <hr class="mobile" style="margin:0;border-width: medium;border-color: #D41367;width:100%;margin-top:1vw">
    <br>
</div>
<form method="post" action="{% url 'auth_profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ eform|crispy }}
    {{ pform|crispy }}
    <div class="row">
      <div class="col-lg-6">
        <input type="submit" id="member" style="width:100%" value="Update"></input>    
      </div>
      <div class="col-lg-6">
        <button class="text-center" type="button" onclick="window.location.href = `{% url 'auth_passwordChange' %}`;" style="color:white;width:100%"  id="member1">Change Password</button> 
      </div>
    </div>
</form>

</div>
  
{% endblock contents%}
