{% extends "Main/base.html" %}

{% load static %}
{% block content %}

<div class="container-fluid desktop">
    <div class="row">
        <div class="col-5">
            <div id="homeSection1">
                <span class="homeText1"><b>Rotaract District<br>3131</b></span>
                <br>
                <span class="homeText2"><b>DRR Shraddha Lamkhade</b></span>
                <br>
                <span class="homeText2"><b>DDRR Drishti Singh</b></span>
            </div>
        </div>
        <div class="col-7">
            <img class="homeImage1" src="{% static 'Main/images/Landing Image-min.png' %}" alt="Rotaract">
        </div>
    </div>
</div>

<div class="text-center mobile" style="text-align: justify;text-justify: inter-word;width:100%">
    
    <h1 class="homeText1"><b>Rotaract District 3131</b></h3>
    <h4 class="homeText2"><b>DRR Shraddha Lamkhade</b></h4>
    <h4 class="homeText2"><b>DDRR Drishti Singh</b></h4>
    <hr>
    <img class="homeImage1" src="{% static 'Main/images/Landing Image-min.png' %}" alt="Rotaract">

</div>
    
{% endblock content%}
