{% extends "Main/m_base.html" %}

{% load static %}
{% block content %}
<div id="aboutUs">
<section class="section">
    <div class="container">
        <h3 class="center-align section-header">ABOUT ROTARY</h3>
        <hr class="hide-on-med-and-up">
        <br class="show-on-med-and-up">
        <div class="row flex">
            <div class="col l3 m12 s12 valign-wrapper">
                <img class="center-align section-image" src="{% static 'Main/images/download.png' %}" alt="Rotaract">
            </div>
            <div class="col l9 m12 s12 section-text">
                Rotary International is a universal network of 1.2 million acquaintances, companions, leaders, and problem-solvers who have a vision of the world where people unite and take action to create a long-lasting change – across the globe, in our communities, and ourselves.
                <br><br>Rotary is a 110-year-old international chain of clubs consisting of phenomenal visionaries who, since the establishment of this chain have used their passion, energy and, intelligence to contribute to the development of a sustainable world. 
                <br><br>The mission of Rotary is to provide service to others, promote integrity, and advance world understanding, goodwill, and peace through our fellowship of business, professional, and community leaders. Whereas, the far-sighted vision of Rotary sees a world where people unite and take action to create lasting change — across the globe, in our communities, and in ourselves.
            </div>
        </div>
    </div>
    <br>
    <hr class="hide-on-med-and-down" style="width:85%;border-width: 1px;border-color: black;background-color: black;">
    <br>
    <div class="container">
        <h3 class="center-align section-header">ABOUT ROTARACT</h3>
        <hr class="hide-on-med-and-up">
        <br class="show-on-med-and-up">
        <div class="row flex">
            <div class="col l3 m12 s12 valign-wrapper">
                <img class="center-align section-image" src="{% static 'Main/images/rotaract.png' %}" alt="Rotaract">
            </div>
            <div class="col l9 m12 s12 section-text">
                Rotaract is a faction of young leaders who are developing innovative solutions to some of the world's greatest problems. Rotaract is primarily a global not-for-profit institution that holistically caters to personal and professional development needs with an extensive network across the globe, as well as largely setting sights on community service with our perennial belief in being service to others.
                <br><br>Rotaract Clubs works mainly under the standing committees of Professional Development, Club Service, International Service, Community Service, Foundation, and Financial Service.
                <br><br>If we were to talk about the statistics, then there are presently 203,298 Rotaractors who are part of 10,698 Rotaract Clubs across 180+ countries contributing to annihilating world problems with sustainable solutions.
                <br><br>We are an ever-expanding movement always welcoming new and enthusiastic members.
            </div>
        </div>
    </div>
    <br>
    <br>
</section>

<section class="section black">
    <div class="container">
        <h3 class="center-align white-text" class="section-header">ABOUT ROTARACT 3131</h3>
        <hr class="hide-on-med-and-up">
        <br class="show-on-med-and-up">
        <div class="row flex white-text">
            <div class="col l3 s12 valign-wrapper">
                <img class="center-align section-image" src="{% static 'Main/images/district_logo.png' %}" alt="Rotaract">
            </div>
            <div class="col l9 s12 section-text">
                Rotaract District 3131 is a non- profit organization striving to bring a change in the world by working in various distinctive standing committees along with Rotary International District 3131. (referred to as RID 3131)  It functions directly under the guidance of Rotary International. 
                <br><br>Rotaract District 3131 emerged at the beginning of Rotary International Year (abbreviated as RIY) 2008 - 09 when RID 3130 was bifurcated into two separate districts. Upon the formation of the district, the Rotary and Rotaract organization was given the charge of areas under of Raigad and Pune districts.
                <br><br>Rotaractors belong to an age group of above18 years (no age limit) and primarily work in the standing committees of Professional Development, Club Service, International Services, Community Service, Foundation, and Finance Services. Presently, 80+ Rotaract clubs are functioning cooperatively in RID 3131.
                <br><br>Rotaractors believe in relishing the work in which they invest their time. We Rotaractors of RID 3131 want to contribute to this world and make it a sustainable place to live for the upcoming generations. 
                <br><br>With a phenomenal history in the above-stated avenues and a vast network, we Rotaractors want to make a statement out there through our Rotaract Movement by Excelling and Growing Through Opportunities Together.
            </div>
        </div>
    </div>
    <br>
    <br>
</section>
<br>
<br>
<section class="section">
    <div class="container">
        <div class="row flex">
            <div class="col l3 s12 card-wrapper">
                <div class="card z-depth-3" style="background-color: #D41367;">
                    <h5 class="center-align white-text card-header">
                        Clubs
                    </h5>
                    <hr>
                    <h1 class="white-text center-align card-number">91</h1>
                </div>
            </div>
            <div class="col l3 s12 card-wrapper">
                <div class="card z-depth-3" style="background-color: #D41367;">
                    <h5 class="center-align white-text card-header">
                        Rotaractors
                    </h5>
                    <hr>
                    <h1 class="white-text center-align card-number">2153</h1>
                </div>
            </div>
            <div class="col l3 s12 card-wrapper">
                <div class="card z-depth-3" style="background-color: #D41367;">
                    <h5 class="center-align white-text card-header">
                        Projects
                    </h5>
                    <hr>
                    <h1 class="white-text center-align card-number">512</h1>
                </div>
            </div>
            <div class="col l3 s12 card-wrapper">
                <div class="card z-depth-3" style="background-color: #D41367;">
                    <h5 class="center-align white-text card-header">
                        Volunteer Hours
                    </h5>
                    <hr>
                    <h1 class="white-text center-align card-number">2560</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
</div>
{% endblock content%}

{% block javascript %}

<script>
    var mq = window.matchMedia( "(max-width: 1000px)" );
    if (mq.matches) {
      $('.row').removeClass('flex');
    }
</script>

{% endblock %}