<!DOCTYPE html>
{% load static %}
<html lang="en">
  
    <head>
        <meta name="google-site-verification" content="iMTaFl6E5zCIsxlp0ocqGVKPqsKX8585i4pb44LPghE" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rotaract</title>
        <link rel="icon" href="{% static 'Main/images/district_logo.png' %}" type="image/icon type">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        
        <link rel="stylesheet" href="{% static 'Main/css/m_pages-d.css' %}">
        <link rel="stylesheet" href="{% static 'Main/css/m_pages-m.css' %}">
    </head>
    <main>
        <body>
            {% include "Main/m_navbar.html" %}
            {% block content %}{% endblock %}
        </body>
    </main>
    {% ifnotequal Tab 'home' %}
        {% include "Main/m_footer.html" %}
    {% endifnotequal %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.slider').slider(
            {
                'height':600,
                "indicators" : false,
                "duration" : 50
            });
        // $('.carousel').carousel(
        //     {
        //         'fullWidth':false
        //     }
        // );
        // var instance = M.Carousel.getInstance($('.carousel'));
        
    });
let coreCouncil = {
    0 :
    {
        "Name" : "Rtr. Akash Chikate",
        "Post" : "District General Secretary",
        "Img" :"",
        "Quote" : `If you want to build a boat. Don’t begin by
collecting wood, cutting boards, or assigning tasks.
Begin by awakening in the souls of your workers a
longing for the vast and boundless sea`
    },
    6 :
    {
        "Name" : "Rtr. Pranav Tukshetti",
        "Post" : "District Treasurer",
        "Img" :"",
        "Quote" : " "
    },
    1 :
    {
        "Name" : "Rtr. Dwijesh Nashikkar",
        "Post" : "District Secretary - Events & Protocols",
        "Img" :"",
        "Quote" : `Rotaract is a beautiful organisation to work. I live by the words, “work for the betterment of Rotaract” plus develop themselves
in such a manner where people look upto you for your hard work, stop you wherever you go wrong or get wrongly influenced
and get inspired from your deeds.`
    },
    2 :
    {
        "Name" : "Rtr Parth Jaokar",
        "Post" : "DRR- Elect",
        "Img" :"",
        "Quote" : ``
    },
    3 :
    {
        "Name" : "Rtr. Shivam Pawaragi",
        "Post" : "District Secretary - Administration",
        "Img" :"",
        "Quote" : `To create a lifelong network of friends and always
work for the betterment of Rotaract movement.`
    },
    6 :
    {
        "Name" : "Rtr. Sayali Dudhane",
        "Post" : "District Secretary - RI Reporting",
        "Img" :"",
        "Quote" : `A roller coaster
of experiences,
A gathering of
friends,
A to-do list,
A awe-inspiring
novel!`
    },
    5 :
    {
        "Name" : "Rtr. Prasad Seth",
        "Post" : "District Secretary - Reporting",
        "Img" :"",
        "Quote" : `My Mission
Service above self, opportunity to be involved with Community & International Projects, Team up with other volunteers
to make a difference & uplift Rotaractors Professionally.`
    },
    4 :
    {
        "Name" : "Rtr. Umang Shah",
        "Post" : "District Club Advisor",
        "Img" :"",
        "Quote" : `Networking.
Bonds. Youth
empowerment.
Have your 'WHY'.`
    },
    8 : 
    {
        "Name" : "Rtr. Akshay More",
        "Post" : "Immediate Past DRR",
        "Img" :"",
        "Quote" : `I believe in striving for excellence, not perfection. Some might think that striving for excellence mean perfectionism. To me, perfectionism is the opposite of excellence. Perfectionism is a personal standard to which we hold ourselves to and it is completely unattainable. Excellence, for me, is about being who I want to be`
    }

};
let dzr ={
    0 :
    {
        "Name" : "Rtr. Vikrant Ahire",
        "Post" : "District Zonal Representative",
        "Img" :"",
        "Quote" : " "
    },
    3 :
    {
        "Name" : "Rtr. Aniruddha Burkule",
        "Post" : "District Zonal Representative",
        "Img" :"",
        "Quote" : `मूल्य .
संयम .
निष्ठा`
    },
    5 :
    {
        "Name" : "Rtr. Meet Shah",
        "Post" : "District Zonal Representative",
        "Img" :"",
        "Quote" : `A good man knows
that he should
never give up.
A wise man knows
when to give up
and when not to
give up.`
    },
    4 :
    {
        "Name" : "Rtr. Tejal Naik",
        "Post" : "District Zonal Representative",
        "Img" :"",
        "Quote" : " "
    },
    2 :
    {
        "Name" : "Rtr. Lokesh Sharma",
        "Post" : "District Zonal Representative",
        "Img" :"",
        "Quote" : `Rotaract is an ever-lasting legacy and I’m
proud to be a part of it!`
    },
    1 :
    {
        "Name" : "Rtr. Darpan Jadhav",
        "Post" : "District Zonal Representative",
        "Img" :"",
        "Quote" : `Rising By Lifting Others", is what I'll always strive to stick
by, as I have been following this since past few years.`
    }
};

let azr ={
    3 :
    {
        "Name" : "Rtr. Riya Gupta",
        "Post" : "Assistant Zonal Representative",
        "Img" :"",
        "Quote" : `What you do makes a difference, and you have to
decide what kind of difference you want to make."
Rotaract has changed my vision towards life and
Opportunities`
    },
    2 :
    {
        "Name" : "Rtr. Bhavna Mirpuri",
        "Post" : "Assistant Zonal Representative",
        "Img" :"",
        "Quote" : `Let your past make you
Better not Bitter. Only
replacing the I can make a
life changing Difference!`
    },
    5 :
    {
        "Name" : "Rtr. Aditya Panchal",
        "Post" : "Assistant Zonal Representative",
        "Img" :"",
        "Quote" : `Clear eyes, full heart, can’t lose.
Go, Be, Do`
    },
    1 :
    {
        "Name" : "Rtr. Mriti Agarwal",
        "Post" : "Assistant Zonal Representative",
        "Img" :"",
        "Quote" : `My Rotaract Journey is the kind of roller
coaster ride I’d love to revisit no matter how
many times I have to.`
    },
    4 :
    {
        "Name" : "Rtr. Kedar Mitkari",
        "Post" : "Assistant Zonal Representative",
        "Img" :"",
        "Quote" : " "
    },
    0 :
    {
        "Name" : "Rtr. Sanskruti More",
        "Post" : "Assistant Zonal Representative",
        "Img" :"",
        "Quote" : " "
    }

 };
 let cops ={
    0 :
    {
        "Name" : "Rtr. Prem Oswal",
        "Post" : "Cops President",
        "Img" :"",
        "Quote" : `Being a President my only motive is to give
my members two times more of what they
pay as the club membership.`
    },
    1 :
    {
        "Name" : "Rtr. Mayuri Chavan",
        "Post" : "Cops Secretary",
        "Img" :"",
        "Quote" : `Rotaract, for me, is an opportunity to
develop ourselves professionally and as
a person on a deeper level.`
    }
 };
 let ad={
    0 :
    {
        "Name" : "Rtr. Vaishnavi Kalbhor",
        "Post" : "District Director - Professional Development",
        "Img" :"",
        "Quote" : `Remember why you have joined Rotaract
and make the most of this organisation.`
    },
    1 :
    {
        "Name" : "Rtr. Piyush Jangle",
        "Post" : "District Director - Club Service",
        "Img" :"",
        "Quote" : `I dont believe in taking right
decisions, I take decisions
and then make them right!`
    },
    2 :
    {
        "Name" : "Rtr. Pratyush Das",
        "Post" : "District Joint Director - Club Service",
        "Img" :"",
        "Quote" : `Irrespective of our gender, colour and
religion we all are Rotaractors. And that is
what which matters the most. `
    },
    3 :
    {
        "Name" : "Rtr. Sattyajeet Karale Patil",
        "Post" : "District Director - Community Service",
        "Img" :"",
        "Quote" : `Always wanted to work for betterment of Rotaract
and I believe in principal "Fake it till you make it" . My
last breath will be with Rotaract`
    },
    4 :
    {
        "Name" : "Rtr. Pooja Tambe",
        "Post" : "District Joint Director - Community Service",
        "Img" :"",
        "Quote" : `Spreading smiles in the community
starting from one around us`
    },
    5 :
    {
        "Name" : "Rtr. Rhugwed Kandpile",
        "Post" : "District Director - International Service",
        "Img" :"",
        "Quote" : `My mission is to enable Rotaractors
to advance world understanding,
goodwill, and peace through the
improvement of health and the
support of education.`
    },
    6 :
    {
        "Name" : "Rtr. Tulna Gupta",
        "Post" : "District Joint Director - International Service",
        "Img" :"",
        "Quote" : `No one is you and that is your power
If you are persistent you will get it
If you are consistent you will keep it`
    },
    7 :
    {
        "Name" : "Rtr. Vijay Chavan",
        "Post" : "Dsitrict Director - Membership Development",
        "Img" :"",
        "Quote" : " "
    },
    8 :
    {
        "Name" : "Rtr. Harshal Solankar",
        "Post" : "District Sports Head",
        "Img" :"",
        "Quote" : `Never Settle
for less than
you deserve.`
    },
    //<!-- 9 :
    //{
      //  "Name" : "Rtr. Rishikesh Borse",
    //    "Post" : "District Snapper",
  //      "Img" :"",
        //"Quote" : `Rotract provides an opportunity for young men and
//women to enhance their knowledge and skills and build a
//good network that will assist in personal development
//and to address the physical needs of their communities
//and to promote better relations
//between all people`
    //},
    9 :
    {
        "Name" : "Rtr. Purab Oswal",
        "Post" : "District Director - Public Image",
        "Img" :"",
        "Quote" : `Oh, are you Rotary Club?
No, we are Rotaract. Striving to change this perception of
masses through extensive Public Image activities viz. Citation &
Initiatives.
I believe in one for all, all for one when it comes to working in
Rotaract.`
    },
    10 :
    {
        "Name" : "Rtr. Rochak Singla",
        "Post" : "District Director - Finances",
        "Img" :"",
        "Quote" : `My journey in Rotaract is all about
giving hope to those who think they
are alone.`
    },
    11 :
    {
        "Name" : "Rtr. Nishant Yadav",
        "Post" : "District Seargeant At Arms",
        "Img" :"",
        "Quote" : " "
    },
    12 :
    {
        "Name" : "Rtr. Karishma Awari",
        "Post" : "District Officer - Rotary Rotaract Relations",
        "Img" :"",
        "Quote" : `Rotaract: An organisation where you
provide service to 'people in need',
develop your professional skills, build
friendship worldwide and have tons of
fun while you do all this.`
    },
    13 :
    {
        "Name" : "Rtr. Punithjoline Mane",
        "Post" : "District Women's Representative",
        "Img" :"",
        "Quote" : `Self development with a
vision of working for the
betterment of society is
what I look forward in
Rotaract.`
    },
    14 :
    {
        "Name" : "Rtr. Kedar Basatwar",
        "Post" : "District Director - Communication(Whatsapp)",
        "Img" :"",
        "Quote" : `Connect with world and Share
the Opportunity,
Do service above self`
    },
    15 :
    {
        "Name" : "Rtr. Jamila Vohra",
        "Post" : "District Rotasia Coordinator",
        "Img" :"",
        "Quote" : `The best Gift you can give
yourself is giving reality to
your Dreams.`
    },
    16:
    {
        "Name" : "Rtr. Lalit Desale",
        "Post" : "District World Rotaract Week Chairperson",
        "Img" :"",
        "Quote" : `Leadership and learning are indispensable to
each other." A journey from nothing to
everything in Rotaract, has taught me the true
meaning of Leadership. Bunch of opportunities in
our way, let's make sure to grab each of them !
`
    },
    17 :
    {
        "Name" : "Rtr. Sanjana Singh",
        "Post" : "District E-Ryla Chairperson",
        "Img" :"",
        "Quote" : `There's no way I am going to work in Rotaract without bragging my connections. That is my treasure
of years. My aim is to help others in maintaining
their network beyond`
    },
    18 :
    {
        "Name" : "Rtr. Aniket Salunkhe",
        "Post" : "Director without Portfolio",
        "Img" :"",
        "Quote" : `Try not to become
a man of success,
but rather try to become
a man of value.`
    }
 };
 let misc = {
    1 :
    {
        "Name" : "Rtr. Akash Badade",
        "Post" : "District Editor",
        "Img" :"",
        "Quote" : `Where there's a will there's a way
`
    },
    0 :
    {
        "Name" : "Rtr. B. Akshita",
        "Post" : "District Editor",
        "Img" :"",
        "Quote" : " "
    },
    4 :
    {
        "Name" : "Rtr. Madhu Pimprikar",
        "Post" : "District Website Coordinator",
        "Img" :"",
        "Quote" : `I shall work towards my vision of
'Giving my best in leading pioneers,
selflessly and in serving the Rotaract District 3131`
    },
    5 :
    {
       "Name" : "Rtr. Tanmay Gangurde",
        "Post" : "District Website Coordinator",
        "Img" :"",
        "Quote" : `Let your smile change the world, don't let the world change you smile :)`
    },
    2 :
    {
       "Name" : "Rtr. Naveen Kumar",
        "Post" : "District Editor",
        "Img" :"",
        "Quote" : `Where there's a will there's a way`
    },
    3 :
    {
        "Name" : "Rtr. Saurabh Satavalekar",
        "Post" : "District Website Coordinator",
        "Img" :"",
        "Quote" : `I believe that this world is a museum of human work history.
Striving hard to make a small contribution in this quest.`
    },
    6 :
    {
        "Name" : "Rtr. Prathamesh Patil",
        "Post" : "District Website Coordinator",
        "Img" :"",
        "Quote" : `Once a Rotaractor always a
Rotaractor`
    },
    8 :
    {
        "Name" : "Rtr. Niharika Chaturvedi",
        "Post" : "District Public Relations Officer",
        "Img" :"",
        "Quote" : `My motto in Rotaract is to create a
safe place for everyone to express
themselves and be able to help in
building and becoming responsible
citizens for this country.`
    },
    7 :
    {
        "Name" : "Rtr. Kabir Makhija",
        "Post" : "District Public Relations Officer",
        "Img" :"",
        "Quote" : `Rotaract has thought me to
Think like a man of action and
act like a man of thought.`
    },
    9 :
    {
        "Name" : "Rtr. Vandit Jain",
        "Post" : "District Public Relations Officer",
        "Img" :"",
        "Quote" : `Big or small, make your contribution count because if it can't
make a change, it ain't worth it`
    },
    12 :
    {
        "Name" : "Rtr. D R Shashank",
        "Post" : "District Professional Assistance Officer",
        "Img" :"",
        "Quote" : `My vision is
making service a
compassionate act`
    },
    11 :
    {
        "Name" : "Rtr. Chirag Ghadge",
        "Post" : "District Professional Assistance Officer",
        "Img" :"",
        "Quote" : `Live, Learn, Laugh that's what
Rotaract is about, also it will give you
memories that you can cherish for life!`
    },
    10 :
    {
        "Name" : "Rtr. Siddhesh Tilekar",
        "Post" : "District Professional Assistance Officer",
        "Img" :"",
        "Quote" : `A Self Sustaining Rotaract District from all
means to leave life to the fullest!`
    }

 }

let conveners = {
    0 :
    {
        "Name" : "Rtr. Shubham Savale",
        "Post" : "District Training Presidents & BOD",
        "Img" :"",
        "Quote" : " "
    },
    1 : {
        "Name" : "Rtr. Gaurav Borse ",
        "Post" : "District Sports Meet",
        "Img" :"",
        "Quote" : " "

    },
    2 : {

        "Name" : "Rtr. Amisha Chauhan",
        "Post" : "District Culturals",
        "Img" :"",
        "Quote" : " "
    },
    3 : {
        "Name" : "Rtr. Vidisha Nayak",
        "Post" : "The Talk",
        "Img" :"",
        "Quote" : " "
    },
    4 : {
        "Name" : "Rtr. Ishwari Hade",
        "Post" : "Abhipray",
        "Img" :"",
        "Quote" : " "
    },
    5 : {
        "Name" : "Rtr. Indranil Matapurkar",
        "Post" : "District Awards Night",
        "Img" :"",
        "Quote" : " "
    },
    6 : {
        "Name" : "Rtr. Anilkumar Saini",
        "Post" : "District Awards Night",
        "Img" :"",
        "Quote" : " "
    },
    7 : {
        "Name" : "Rtr. Jeenal Mehta",
        "Post" : "District Fellowship Meet",
        "Img" :"",
        "Quote" : " "
    },
    8 : {
        "Name" : "Rtr. Anindita Mukherjee",
        "Post" : "District Multi -DFM",
        "Img" :"",
        "Quote" : " "
    },
    9 : {
        "Name" : "Rtr. Ajinkya Astekar",
        "Post" : "District Trek",
        "Img" :"",
        "Quote" : " "
    }


    
}


    document.addEventListener('DOMContentLoaded', function() {
            var options = {
                "onCycleTo" : function() {
                    $("#coreCouncilPost").html("<b>"+coreCouncil[this.center]["Post"]+"</b>");
                    $("#coreCouncilName").html("<small>"+coreCouncil[this.center]["Name"]+"</small>");
                    $("#coreCouncilQuote").html(coreCouncil[this.center]["Quote"]);
                },
                'noWrap' :true,
            };
            var elems = document.querySelectorAll('#coreCouncilCarousel');
            var instances = M.Carousel.init(elems, options);

            var options = {
                "onCycleTo" : function() {
                    $("#dzrPost").html("<b>"+dzr[this.center]["Post"]+"</b>");
                    $("#dzrName").html("<small>"+dzr[this.center]["Name"]+"</small>");
                    $("#dzrQuote").html(dzr[this.center]["Quote"]);
                },
                'noWrap' :true,
            };
            var elems = document.querySelectorAll('#dzrCarousel');
            var instances = M.Carousel.init(elems, options);

            var options = {
                "onCycleTo" : function() {
                    $("#azrPost").html("<b>"+azr[this.center]["Post"]+"</b>");
                    $("#azrName").html("<small>"+azr[this.center]["Name"]+"</small>");
                    $("#azrQuote").html(azr[this.center]["Quote"]);
                },
                'noWrap' :true,
            };
            var elems = document.querySelectorAll('#azrCarousel');
            var instances = M.Carousel.init(elems, options);
            
            var options = {
                "onCycleTo" : function() {
                    $("#copsPost").html("<b>"+cops[this.center]["Post"]+"</b>");
                    $("#copsName").html("<small>"+cops[this.center]["Name"]+"</small>");
                    $("#copsQuote").html(cops[this.center]["Quote"]);
                },
                'noWrap' :true,
            };
            var elems = document.querySelectorAll('#copsCarousel');
            var instances = M.Carousel.init(elems, options);
            


            var options = {
                "onCycleTo" : function() {
                    $("#adPost").html("<b>"+ad[this.center]["Post"]+"</b>");
                    $("#adName").html("<small>"+ad[this.center]["Name"]+"</small>");
                    $("#adQuote").html(ad[this.center]["Quote"]);
                },
                'noWrap' :true,
            };
            var elems = document.querySelectorAll('#adCarousel');
            var instances = M.Carousel.init(elems, options);
            
            var options = {
                "onCycleTo" : function() {
                    $("#miscPost").html("<b>"+misc[this.center]["Post"]+"</b>");
                    $("#miscName").html("<small>"+misc[this.center]["Name"]+"</small>");
                    $("#miscQuote").html(misc[this.center]["Quote"]);
                },
                'noWrap' :true,
            };
            var elems = document.querySelectorAll('#miscCarousel');
            var instances = M.Carousel.init(elems, options);
            
            var options = {
                "onCycleTo" : function() {
                    $("#convenersPost").html("<b>"+conveners[this.center]["Post"]+"</b>");
                    $("#convenersName").html("<small>"+conveners[this.center]["Name"]+"</small>");
                    $("#convenersQuote").html(conveners[this.center]["Quote"]);
                },
                'noWrap' :true,
            };
            var elems = document.querySelectorAll('#convenersCarousel');
            var instances = M.Carousel.init(elems, options);
            
            
    });
            // for(let instance of instances) {
            //     var mq = window.matchMedia( "(min-width: 1000px)" );
            //     if (mq.matches) {
            //         instance.next(3);
            //     }
    </script>
    <script>
        $(document).ready(function() {
            $("a").removeClass("active");
            $("#desktop-{{Tab}}").addClass("active");
            $("#mobile-{{Tab}}").addClass("active");
            $("div.input-field").click(function (e) {
            $(this).removeClass("ifb");
                e.stopPropagation();
            });
            $(document).click(function () {
                // $("div.input-field").addClass("ifb");
            });
        });
      </script>
    {% block javascript %}{% endblock %}

</html>