{% extends "Main/m_base.html" %}

{% load static %}
{% block content %}
<div id="council">
<section class="container" style="min-width:95%;min-height:100vh">
    <div class="row flex header">
        <div class="col s12">
            <h1 class="black-text center-align">The dream team</h1>
            <hr class="center-align">
        </div>
    </div>
    <div class="row flex drr-section">
        <div class="col l6 m12 s12 valign-wrapper hide-on-med-and-down">
            <img class="section-image z-depth-2" src="{% static 'Main/images/img_avatar2.png' %}">
            <div class="card z-depth-3">
                <div class="card-content white-text">
                    <h6><b>District Rotaract Representative</b></h6>
                    <h6><small>Rtr. Shraddha Lamkhede</small></h6>
                    <br>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <div class="col l6 m12 s12 valign-wrapper hide-on-med-and-down">
            <img class="section-image z-depth-2" src="{% static 'Main/images/img_avatar2.png' %}">
            <div class="card z-depth-3">
                <div class="card-content white-text">
                    <h6><b>Deputy District Rotaract Representative</b></h6>
                    <h6><small>Rtr. Drishti Singh</small></h6>
                    <br>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">CORE COUNCIL</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel">
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/amit.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/bhavesh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/manali.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/nikki.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shanmukh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shardul.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/siddhi.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post"><b>Deputy District Rotaract Representative</b></h6>
            <h6 class="name"><small>Rtr. Drishti Singh</small></h6>
            <br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">CORE COUNCIL</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel">
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/amit.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/bhavesh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/manali.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/nikki.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shanmukh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shardul.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/siddhi.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post"><b>Deputy District Rotaract Representative</b></h6>
            <h6 class="name"><small>Rtr. Drishti Singh</small></h6>
            <br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">CORE COUNCIL</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel">
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/amit.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/bhavesh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/manali.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/nikki.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shanmukh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shardul.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/siddhi.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post"><b>Deputy District Rotaract Representative</b></h6>
            <h6 class="name"><small>Rtr. Drishti Singh</small></h6>
            <br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">CORE COUNCIL</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel">
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/amit.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/bhavesh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/manali.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/nikki.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shanmukh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shardul.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/siddhi.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post"><b>Deputy District Rotaract Representative</b></h6>
            <h6 class="name"><small>Rtr. Drishti Singh</small></h6>
            <br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">CORE COUNCIL</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel">
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/amit.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/bhavesh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/manali.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/nikki.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shanmukh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shardul.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/siddhi.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post"><b>Deputy District Rotaract Representative</b></h6>
            <h6 class="name"><small>Rtr. Drishti Singh</small></h6>
            <br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">CORE COUNCIL</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel">
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/amit.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/bhavesh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/manali.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/nikki.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shanmukh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shardul.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/siddhi.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post"><b>Deputy District Rotaract Representative</b></h6>
            <h6 class="name"><small>Rtr. Drishti Singh</small></h6>
            <br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">CORE COUNCIL</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel">
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/amit.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/bhavesh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/manali.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/nikki.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shanmukh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shardul.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/siddhi.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post"><b>Deputy District Rotaract Representative</b></h6>
            <h6 class="name"><small>Rtr. Drishti Singh</small></h6>
            <br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">CORE COUNCIL</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel">
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/amit.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/bhavesh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/manali.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/nikki.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shanmukh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shardul.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/siddhi.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post"><b>Deputy District Rotaract Representative</b></h6>
            <h6 class="name"><small>Rtr. Drishti Singh</small></h6>
            <br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">CORE COUNCIL</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel">
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/amit.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/bhavesh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/manali.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/nikki.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shanmukh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shardul.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/siddhi.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post"><b>Deputy District Rotaract Representative</b></h6>
            <h6 class="name"><small>Rtr. Drishti Singh</small></h6>
            <br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">CORE COUNCIL</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel">
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/amit.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/bhavesh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/manali.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/nikki.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shanmukh.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/shardul.jpg' %}"></a>
        <a class="carousel-item" href="#"><img src="{% static 'Main/images/council/siddhi.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post"><b>Deputy District Rotaract Representative</b></h6>
            <h6 class="name"><small>Rtr. Drishti Singh</small></h6>
            <br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</section>
</div>
{% endblock content%}
{% block javascript %}

<script>
    var mq = window.matchMedia( "(max-width: 1000px)" );
    if (mq.matches) {
      $('.row').removeClass('flex');
    }
</script>

{% endblock %}