{% extends "Main/m_base.html" %}
{% load static %}
{% block content %}
<div id="council">
<section class="container" style="min-width:95%;min-height:100vh">
    <div class="row flex header"> 
        <div class="col s12">
            <h1 class="black-text center-align">District Executive Council</h1><h5 class="black-text center-align">RIY 2020</h5>
        </div>
    </div>
    <hr class="center-align" style="width:50%">
     <div class="row flex drr-section hide-on-med-and-down">
        <div class="col l6 m12 s12 valign-wrapper hide-on-med-and-down">
            <img class="section-image z-depth-2" src="{% static 'Main/images/council/shraddha.jpg' %}">
            <div class="card z-depth-3">
                <div class="card-content white-text">
                    <h6><b>District Rotaract Representative</b></h6>
                    <h6><small>Rtr. Shraddha Lamkhade</small></h6>
                    <br>
                    <p>"The things that excite us are never random. Follow them. Remember you all are born leaders."</p>
                </div>
            </div>
        </div>
        <div class="col l6 m12 s12 valign-wrapper hide-on-med-and-down">
            <img class="section-image z-depth-2" src="{% static 'Main/images/council/drishti.jpg' %}">
            <div class="card z-depth-3">
                <div class="card-content white-text">
                    <h6><b>Deputy District Rotaract Representative</b></h6>
                    <h6><small>Rtr. Drishti Singh</small></h6>
                    <br>
                    <p>"What you get out of Rotaract is directly proportional to how much you put in!
                        <br>If you are prepared to accept some responsibilities, you can procure out a lot of satisfaction from this organisation!"</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row hide-on-med-and-up mobile-profile">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
                <img class="section-image" src="{% static 'Main/images/council/shraddha.jpg' %}">
            </div>
            <div class="card-content">
                <h6 class="post"><b>District Rotaract Representative</b></h6>
                <h6 class="name"><small>Rtr. Shraddha Lamkhade</small></h6>
                <br>
                <p>"The things that excite us are never random. Follow them. Remember you all are born leaders."</p>
            </div>
          </div>
        </div>
    </div>
    <div class="row hide-on-med-and-up mobile-profile">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
                <img class="section-image z-depth-2" src="{% static 'Main/images/council/drishti.jpg' %}">
            </div>
            <div class="card-content">
                <h6 class="post"><b>Deputy District Rotaract Representative</b></h6>
                <h6 class="name"><small>Rtr. Drishti Singh</small></h6>
                <br>
                <p>"What you get out of Rotaract is directly proportional to how much you put in!
                    If you are prepared to accept some responsibilities, you can procure out a lot of satisfaction from this organisation!"</p>
            </div>
          </div>
        </div>
    </div> 
    <br class="hide-on-med-and-up">
    <br class="hide-on-med-and-up">
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">CORE COUNCIL</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel" id="coreCouncilCarousel">
    <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/aakash.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/dwijesh.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/parth.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/shivam.jpeg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/umang.jpeg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/prasad.jpeg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/sayali.jpeg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/pranav.jpeg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/akshay.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post" id="coreCouncilPost"></h6>
            <h6 class="name" id="coreCouncilName"></h6>
            <br>
            <p id="coreCouncilQuote" style="text-align: center;">
            
            </p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">DZRs</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel" id="dzrCarousel">
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/tejal.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/anirudh.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/vikrant.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/lokesh.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/darpan.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/meet.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post" id="dzrPost"></h6>
            <h6 class="name" id="dzrName"></h6>
            <br>
            <p id="dzrQuote" style="text-align: center;">
            
            </p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">AZRs</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel" id="azrCarousel">
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/kedar.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/mriti.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/aditya.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/bhavana.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/sanskruti.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/riya.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post" id="azrPost"></h6>
            <h6 class="name" id="azrName"></h6>
            <br>
            <p id="azrQuote" style="text-align: center;">
            
            </p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">COPS</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel" id="copsCarousel">
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/prem.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/mayuri.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post" id="copsPost"></h6>
            <h6 class="name" id="copsName"></h6>
            <br>
            <p id="copsQuote" style="text-align: center;">
            
            </p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">AVENUE DIRECTORS</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel" id="adsCarousel">
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/vaishnavi.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/piyush.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/pratyush.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/satyajeet.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/pooja.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/rugwed.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/tulna.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/vijay.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/harshal.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/purab.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/rochak.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/nishant.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/karishma.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/punithjoline.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/kedarb.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/jamila.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/lalit.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/sanjana.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/aniket.jpg' %}"></a>
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post" id="adPost"></h6>
            <h6 class="name" id="adName"></h6>
            <br>
            <p id="adQuote" style="text-align: center;">
            
            </p>
        </div>
    </div>
</section>
<section class="black valign-wrapper divider-section">
    <h5 class="white-text center-align" style="margin:auto">OTHERS</h5>
</section>
<section class="white almost-full-screen">
    <div class="carousel" id="miscCarousel">
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/akash.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/naveen.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/saurabh.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/madhu.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/Tanmay.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/kabir.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/niharika.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/vandit.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/siddhesh.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/chirag.jpg' %}"></a>
        <a class="carousel-item" href="javascript:void(0)"><img src="{% static 'Main/images/council/shashank.jpg' %}"></a>        
    </div>    
    <hr style="border-width:1.2px;background-color: black;border-color:black;width:20%">
    <br><br>
    <div class="container profile-card">
        <div class="card-content center-align">
            <h6 class="post" id="miscPost"></h6>
            <h6 class="name" id="miscName"></h6>
            <br>
            <p id="miscQuote" style="text-align: center;">
            
            </p>
        </div>
    </div>
</section>
</div>
{% endblock content%}
{% block javascript %}
<script src="{% static 'Main/javascript/council.js' %}"></script>
{% endblock %}