<footer class="page-footer black">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col l6 m12 s12">
                    © Designed and developed by Rotaract 3131
                </div>
                <div class="col l6 m12 s12">
                    <div>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>