<br>
<footer class="page-footer black">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col l6 m12 s12">
                    © Designed and developed by Rotaract 3131
                </div>
                <div class="col l6 m12 s12">
                    <div>
                        <a href="https://www.instagram.com/rotaract_district_3131/?hl=en" class="white-text"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://www.facebook.com/RCDist3131/" class="white-text"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/dist_3131?lang=en" class="white-text"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <!-- <a href="" class="white-text"><i class="fa fa-linkedin" aria-hidden="true"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>