{% extends "Main/m_base.html" %}

{% load static %}
{% block content %}

<div class="slider fullscreen">
    <ul class="slides">
        <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
            <h3>One dream, one team !</h3>
            <h5 class="light grey-text text-lighten-3">One dream, one team !</h5>
        </div>
        </li>
        <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
            <h3>One dream, one team !</h3>
            <h5 class="light grey-text text-lighten-3">One dream, one team !</h5>
        </div>
        </li>
    </ul>
</div>
{% endblock content%}
