{% load static %}
<style>
    nav, .nav-wrapper, .nav-wrapper a {
    height: 3.8rem !important;
    }

</style>
<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'main_home1' %}" id="mobile-home" class="black-text">HOME</a></li>
    <li><a href="{% url 'main_aboutUs' %}" id="mobile-aboutUs" class="black-text">ABOUT US</a></li>
    <li><a href="{% url 'main_council' %}" id="mobile-council" class="black-text">COUNCIL</a></li>
    <li><a href="#" class="black-text">WHAT WE DO</a></li>
    <li><a href="#" class="black-text">LOGIN</a></li>
</ul>
<div class="navbar-fixed">
    <nav class="nav-wrapper white z-depth-3">
        <div class="container white" style="min-width:90%;">
        <a href="{% url 'main_home1' %}" class="brand-logo">
            <img src="{% static 'Main/images/Rotaract Logo-min.png' %}" alt="District 3131 - Rotaract" class="img-logo"/>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger pink-text text-darken-1">
            <i class="medium material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'main_home1' %}" id="desktop-home" class="black-text">HOME</a></li>
            <li><a href="{% url 'main_aboutUs' %}" id="desktop-aboutUs" class="black-text">ABOUT US</a></li>
            <li><a href="{% url 'main_council' %}" id="desktop-council" class="black-text">COUNCIL</a></li>
            <li><a href="#" class="black-text">WHAT WE DO</a></li>
            <li><a href="#" class="black-text">LOGIN</a></li>
        </ul>
    </nav>
</div>
