{% load static %}
<style>
    nav, .nav-wrapper, .nav-wrapper a {
    height: 3.8rem !important;
    }
    .navbar-fixed {
    height: 3.8rem !important;
    }
</style>
<ul class="sidenav collapsible" id="mobile-demo">
    <li><a href="{% url 'main_home1' %}" id="mobile-home" class="black-text">HOME</a></li>
    <li><a href="{% url 'main_aboutUs' %}" id="mobile-aboutUs" class="black-text">ABOUT US</a></li>
    <li><a href="{% url 'main_council' %}" id="mobile-council" class="black-text">COUNCIL</a></li>
    <li>
      <div class="collapsible-header black-text" id="mobile-whatWeDo" >WHAT WE DO</div>
      <div class="collapsible-body">
        {% for key, value in EventNavLinks.items %}
            <a href="{% url 'main_whatWeDo' avenue=key %}"  style="display:inline-block;" class="black-text col s3 truncate" id="mobile-{{value.SubTab}}">{{value.Title}}</a>
        {% endfor %}
      </div>
    </li>
    {% comment %} <li><a href="{% url 'main_whatWeDo' %}"  style="display:inline-block;" id="mobile-zone" class="black-text">ZONE</a></li> {% endcomment %}
    <li><a href="{% url 'main_resources' %}" id="mobile-resources" class="black-text">RESOURCES</a></li>
    {% if user.is_authenticated %}
        {% if user.loginType == '0' %}
            {% if DRole == '4' %}
            <li><a href="{% url 'distReport_a_getMonth' %}"  target="_blank" id="mobile-Tasks" class="black-text">ADMIN</a></li>
                <li><a href="{% url 'distReport_a_manageAccess' %}" target="_blank"  id="mobile-Access" class="black-text">ACCESS</a></li>
            {% elif DRole == '6' %}
            <li><a href="{% url 'secReport_responses' %}"  target="_blank" id="mobile-s_responses" class="black-text">REPORTS</a></li>
                <li><a href="{% url 'secReport_manageAccess' %}" target="_blank"  id="mobile-s_access" class="black-text">ACCESS</a></li>
            {% endif %}
            {% if DRole != None %}
            <li><a href="{% url 'distReport_c_index' %}"  target="_blank" id="mobile-Tasks" class="black-text">TASKS</a></li>
            {% endif %}
        {% elif user.loginType == '1' %}
        <li><a href="{% url 'secReport_presentReport1' %}" target="_blank"  id="mobile-Reporting" class="black-text">REPORTING</a></li>
        {% endif %}
        <li><a href="{% url 'auth_logout' %}" id="mobile-logout" class="black-text">LOGOUT</a></li>
        {% else %}
        <li><a href="{% url 'auth_login' %}" id="mobile-login" class="black-text">LOGIN</a></li>
        {% endif %}
    
</ul>
<div id="dropdown1" class="dropdown-content" style="min-width:100%;max-height:15rem;padding:2%;white-space:nowrap">
    <div class="row flex">
        <div class="col l2 center-align" style="background-color: #d41362;padding:1%;">
            <h5 class="white-text truncate"><b>Standing<br>Committees</b></h5>
        </div>
        <div class="col l10">
        {% for key, value in EventNavLinks.items %}
                <a href="{% url 'main_whatWeDo' avenue=key %}"  style="display:inline-block;" class="black-text col s3 truncate" id="desktop-{{value.SubTab}}">{{value.Title}}</a>
        {% endfor %}
        </div>
    </div>
</div>
<div class="navbar-fixed">
    <nav class="nav-wrapper white z-depth-2">
        <div class="container white" style="min-width:90%;">
            <a href="{% url 'main_home1' %}" class="brand-logo">
                <img src="{% static 'Main/images/Rotaract Logo-min.png' %}" alt="District 3131 - Rotaract" class="img-logo"/>
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger pink-text text-darken-1">
                <i class="medium material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'main_home1' %}" id="desktop-home" class="black-text">HOME</a></li>
                <li><a href="{% url 'main_aboutUs' %}" id="desktop-aboutUs" class="black-text">ABOUT US</a></li>
                <li><a href="{% url 'main_council' %}" id="desktop-council" class="black-text">COUNCIL</a></li>
                <li><a id="desktop-whatWeDo" class="black-text dropdown-trigger" href="#!" data-target="dropdown1">WHAT WE DO<i class="material-icons right" style="margin:0;padding-top:2%">arrow_drop_down</i></a></li>
                {% comment %} ./RotarApp-2.0/Main/templates/Main/m_zones.html {% endcomment %}
                {% comment %} <li><a href="{% url 'main_whatWeDo' %}"  style="display:inline-block;" id="mobile-zone" class="black-text">ZONE</a></li> {% endcomment %}
                <li><a href="{% url 'main_resources' %}" id="desktop-resources" class="black-text">RESOURCES</a></li>
                {% if user.is_authenticated %}
                {% if user.loginType == '0' %}
                    {% if DRole == '4' %}
                    <li><a href="{% url 'distReport_a_getMonth' %}"  target="_blank" id="desktop-Tasks" class="black-text">ADMIN</a></li>
                        <li><a href="{% url 'distReport_a_manageAccess' %}" target="_blank"  id="desktop-Access" class="black-text">ACCESS</a></li>
                    {% elif DRole == '6' %}
                    <li><a href="{% url 'secReport_responses' %}"  target="_blank" id="desktop-s_responses" class="black-text">REPORTS</a></li>
                        <li><a href="{% url 'secReport_manageAccess' %}" target="_blank"  id="desktop-s_access" class="black-text">ACCESS</a></li>
                    {% endif %}
                    {% if DRole != None %}
                    <li><a href="{% url 'distReport_c_index' %}"  target="_blank" id="desktop-Tasks" class="black-text">TASKS</a></li>
                    {% endif %}
                {% elif user.loginType == '1' %}
                <li><a href="{% url 'secReport_presentReport1' %}" target="_blank"  id="desktop-Reporting" class="black-text">REPORTING</a></li>
                {% endif %}
                <li><a href="{% url 'auth_logout' %}" id="desktop-logout" class="black-text">LOGOUT</a></li>
                {% else %}
                <li><a href="{% url 'auth_login' %}" id="desktop-login" class="black-text">LOGIN</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>   
</script>
      