{% extends "Main/m_base.html" %}

{% load static %}
{% block content %}
{% include "Main/m_headerSection.html" with text="Resources" %}

<div class="container">
    <br class="mobile"><br class="mobile">
    <ul class="collection with-header">
        <li class="collection-header"><h4><b>Rotary International</b></h4></li>
        <li class="collection-item"><a href="/document/3" target="_blank">Bylaws of Rotary International</a></li>
        <li class="collection-item"><a href="/document/4" target="_blank">Constitution of Rotary International</a></li>
        <li class="collection-item"><a href="/document/5" target="_blank">Rotary Code of Policies</a></li>
    </ul>
    <br class="mobile"><br class="mobile">
    <ul class="collection with-header">
        <li class="collection-header"><h4><b>District 3131</b></h4></li>
        <li class="collection-item"><a href="/document/0" target="_blank">1. District Directory</a></li>
        <li class="collection-item"><a href="/document/1" target="_blank">2. Rotaract Handbook</a></li>
        <li class="collection-item"><a href="/document/2" target="_blank">3. Rotaract Standard Constitution</a></li>
    </ul>
    <br class="mobile"><br class="mobile">
</div>
{% endblock content%}
