{% extends "Main/m_base.html" %}

{% load static %}
{% block content %}
<br class="">
<div class="row flex container center-align" style="padding:0;"> 
    <div class="col l12 m12">
        <h5 class="" style="letter-spacing: 0.3rem;line-height: 3rem;"><b>District 3131</b></h5>
    </div>
</div>
<hr class="hide-on-med-and-up" style="width:80%;text-align:center;height :1px ;background-color:black">
<hr class="hide-on-med-and-down" style="width:85%;text-align:center;height :1px ;background-color:black">
<br>
<div class="row flex container" style="padding:0"> 
    <div class="col l12 m12">
            <a href="/document/0" target="_blank">1. District Directory</a><br/>
            <a href="/document/1" target="_blank">2. Rotaract Handbook</a><br/>
            <a href="/document/2" target="_blank">3. Rotaract Standard Constitution</a><br/>
    </div>    
</div>
<div class="row flex container center-align" style="padding:0;"> 
    <div class="col l12 m12">
        <h5 class="" style="letter-spacing: 0.3rem;line-height: 3rem;"><b>Rotary International</b></h5>
    </div>
</div>
<hr class="hide-on-med-and-up" style="width:80%;text-align:center;height :1px ;background-color:black">
<hr class="hide-on-med-and-down" style="width:85%;text-align:center;height :1px ;background-color:black">
<br>
<div class="row flex container" style="padding:0"> 
    <div class="col l12 m12">
            <a href="/document/3" target="_blank">1. Bylaws of Rotary International</a><br/>
            <a href="/document/4" target="_blank">2. Constitution of Rotary International</a><br/>
            <a href="/document/5" target="_blank">3. Rotary Code of Policies</a><br/>
    </div>    
</div>
<br class="mobile"><br class="mobile">
{% endblock content%}
