//Colors

$bgcolor:  #FFFFFF;// #FFFFFF;
$textcolor1: #337ab7;//#779ECB;
$pinkcolor:#D41367;

//Padding

$padding-top: 2%;
$padding-right: 10%;
$padding-left: 10%;

//font-size

$m-extraSmall : 1vw;
$m-small : 3vw;
$m-medium : 4vw;
$m-extraMedium : 5vw;
$m-large : 8vw;
$m-extraLarge : 10vw;

$d-extraSmall : 1vw;
$d-small : 1.5vw;
$d-medium : 2vw;
$d-extraMedium : 2.5vw;
$d-large : 4vw;
$d-extraLarge: 5vw;