@import 'Main/scss/globals';


#trial4 {
    display :none;
}

/* Sass Testing */

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

//Heading Section

#reportHeadingSection {
    text-align: justify;
    text-justify: inter-word;
    width:100%;
}

.progress {
    height:10vw;
    padding:0;
}

#bar {
    margin:0;
    background-color:#D41367;
    height:1vw; 
    width:100%;
}

@media screen and (min-width: 1000px) {

//Pagination

#tabs {
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0vw;
    background-color: $bgcolor;
    z-index:999;
    padding:0;
    margin:3vw 0 0 0;
    width:100%;
    // border-bottom:solid $pinkcolor;
    // border-top:solid $pinkcolor;
    height:auto;
}

#tabs .row {
    height:3vw;
    line-height:1vw;
}

.tablinks {
    color: $pinkcolor;
    font-size:$d-small;
}

.tablinks:hover {
    cursor:pointer;
}

.tablinks.active {
    font-weight: bolder;
    font-size:$d-medium;
}

.tabcontent {
    display: none;
    padding-left:1%;
    padding-right:1%;
    padding-bottom:0;
    padding-top:0;
}

.tabcontent.active {
    display:block;
    padding-top:0;
    padding-bottom:0;
}

//Heading Section

#reportHeadingSection {
    text-align: justify;
    text-justify: inter-word;
    width:100%;
}

#reportHeading1 {
    color: $pinkcolor;
    font-size: $d-extraMedium;
}

#reportImage1 {
    height: auto;
    width: 15vw;
}

#reportHeading2 {
    color: $textcolor1;
    font-size: $d-medium;
}

//Form

#reportForm {

    #errorMessages {
        color : red;
        font-weight : bold;
        font-size : $d-small;
        
    }

    .heading {
        width: 100%;
        background-color: $textcolor1;
        border-radius: 4px;
        height: 3.5vw;
        border:solid $textcolor1;
        border: 2px solid $textcolor1;
        box-shadow: 3px 3px 2px #555;
        padding-left: 1vw;
        font-size:$d-medium;
        font-weight: bold;
        color: white;
        margin:0;
    }

    .container-fluid, .row, .table-responsive {
        width: 100%;
        padding:0;
        margin:0;
    }

    input {
        height: 2.5vw;
        color: $textcolor1;       
    }

    button {
        height: 2.5vw;
        color: white;       
    }

    .col-lg-3, .col-lg-6, .col-lg-2, .col-lg-8, .col-lg-4, .col-lg-5, .col-lg-9, .col-lg-12 {

        padding:1vw 1vw 1vw 1vw;
    
        input {
            margin-top:1vw;
            margin-bottom:1vw;
            width:100%;
            height:5vw;
        }
    
        button {
            width:100%;
            color: white;
            font-weight: bold;
            border-radius: 4px;
            border : solid $pinkcolor;
            background-color: $pinkcolor;
            box-shadow: 2px 2px 2px #555;
            margin:1vw 0vw 1vw 0vw;
        }
    
        select {
            margin-top:1vw;
            margin-bottom:1vw;
            height: 2.5vw;
            width:100%;
            color: $textcolor1;
            background-color: $bgcolor;
            padding-left:1vw;
            padding-right:1vw;
            border: 1px solid lightgrey;
            border-radius: 4px;
            box-shadow: 2px 2px 2px #555;    
        }
    
        select:focus, select:after, select:hover {    
            margin-top:1vw;
            margin-bottom:1vw;
            height: 2.5vw;
            width:100%;
            border: 2px solid $textcolor1;
            border-radius: 4px;
            color: $textcolor1;
            background-color: $bgcolor;
            padding-left:1vw;
            padding-right:1vw;
            box-shadow: none;
        }

        select.empty {
            outline : none;
            box-shadow: none;
            border: 1px solid red;
            color : red;
            font-weight: bold;
        }

        select.empty:hover, select.empty:focus, select.empty:after {
            outline : none;
            box-shadow: none;
            border: 2px solid red;
            color : red;
            font-weight: bold;
        }
    }
    
    .label {
        color : $textcolor1;
        font-size: $d-extraSmall;
        font-weight: bold;
        margin:0;
        padding:0;
    }
    
    .addRow {
        height: 2.5vw;
        width: 10vw;
        margin:1vw 0 1vw 0 ;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        border : solid $pinkcolor;
        background-color: $pinkcolor;
        box-shadow: 2px 2px 2px #555;
    }

        
    input[type=text], input[type=date], input[type=month],  input[type=password], input[type=number], input[type=url], textarea {
        height : 2.5vw;
        border: 1px solid lightgrey;
        border-radius: 4px;
        color: $textcolor1;
        background-color: $bgcolor;
        padding-left:1vw;
        padding-right:1vw;
        box-shadow: 2px 2px 2px #555;
    }

    input[type=text]:hover, input[type=date]:hover, input[type=month]:hover,  input[type=password]:hover, input[type=number]:hover, input[type=url]:hover, textarea:hover, input[type=text]:focus, input[type=date]:focus, input[type=month]:focus,  input[type=password]:focus, input[type=number]:focus, input[type=url]:focus, textarea:focus {
        border: 2px solid $textcolor1;
        border-radius: 4px;
        outline: none;
        color: $textcolor1;
        background-color: $bgcolor;
        padding-left:1vw;
        padding-right:1vw;
        box-shadow: none;
        font-weight: bold;
    }

    input.empty, textarea.empty{
        outline : none;
        box-shadow: none;
        border: 1px solid red;
        color : red;    
    }

    textarea.empty:hover, textarea.empty:focus, input[type=text].empty:hover, input[type=date].empty:hover, input[type=month].empty:hover,  input[type=password].empty:hover, input[type=number].empty:hover, input[type=url].empty:hover, textarea.empty:hover, input[type=text].empty:focus, input[type=date].empty:focus, input[type=month].empty:focus,  input[type=password].empty:focus, input[type=number].empty:focus, input[type=url].empty:focus, textarea.empty:focus {
        outline : none;
        box-shadow: none;
        border: 2px solid red;
        color : red;
        font-weight: bold;
    }

    .col-xs-2 p{
        color : $textcolor1;
        font-size: $d-extraSmall;;
        font-weight: bold;
    }

    .m-memberMatrix input{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width:85%;
    }

    textarea {
        height: 8vw;
        width: 100%;
    }

    
    button:focus, #reportButton00:focus, #reportButton01:focus, #reportButton02:focus,#reportButton10:focus, #reportButton11:focus, #reportButton12:focus#reportButton20:focus, #reportButton21:focus, #reportButton22:focus{
        outline: none;
    }

    #member1Del:disabled,#gbm1Del:disabled,#bod1Del:disabled,#futureEvent1Del:disabled,#event1Del:disabled {
        // display: none;
        background-color: #555;
        border : solid #555;
    }    

    input[type=text]:read-only, input[type=month]:read-only,input[type=number]:read-only {
        background-color: #f1f1f1f1;
    }
}


.blueButton, #reportButton00,#reportButton01,#reportButton02,#reportButton10,#reportButton11,#reportButton12,#reportButton20,#reportButton21,#reportButton22 {
    background-color: $textcolor1;
    color:white;
    font-weight: bold;
    border-radius: 4px;
    margin-top:3vw;
    height : 3.5vw;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid $textcolor1;
    box-shadow: 3px 3px 2px #555;
}


#reportButtons {
    padding:0;
    margin:0;
    width:100%;
    margin-bottom:10vw;
}

#reportButton00:disabled, #reportButton01:disabled, #reportButton02:disabled,#reportButton10:disabled, #reportButton11:disabled, #reportButton12:disabled#reportButton20:disabled, #reportButton21:disabled, #reportButton22:disabled{
    background-color: #555;
    border: 2px solid #555;
}

#listSection {

    .col-lg-2, .col-lg-6 {
        line-height: 2.5vw;
    }

    .container-fluid {
        padding:0;
        margin:0;
        border-radius: 4px;
        border:none;
    }

    .row {
        padding:1.5em;
        
    }

    #member, #member1 {
        line-height: normal;
        height: 2.5vw;
        width: 10vw;
        // margin:1vw 0 1vw 0 ;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        border : solid $pinkcolor;
        background-color: $pinkcolor;
        box-shadow: 2px 2px 2px #555;
    }

    #clublogo {
        margin-right:2vw;
    }


}


#reportFormView {

    .heading {
        width: 100%;
        background-color: $textcolor1;
        border-radius: 4px;
        height: 3.5vw;
        border:solid $textcolor1;
        border: 2px solid $textcolor1;
        box-shadow: 3px 3px 2px #555;
        padding-left: 1vw;
        font-size:$d-medium;
        font-weight: bold;
        color: white;
        margin:0;
    }

    .container-fluid, .row, .table-responsive {
        width: 100%;
        padding:0;
        margin:0;
    }

    input {
        height: 2.5vw;
        color: $textcolor1;       
    }

    
    .col-lg-3, .col-lg-6, .col-lg-2, .col-lg-8, .col-lg-4, .col-lg-5, .col-lg-9, .col-lg-12 {

        padding:1vw 1vw 1vw 1vw;
    
        input {
            margin-top:1vw;
            margin-bottom:1vw;
            width:100%;
            height:5vw;
        }
    
        select:focus, select:after, select:hover {    
            margin-top:1vw;
            margin-bottom:1vw;
            height: 2.5vw;
            width:100%;
            border: 2px solid $textcolor1;
            border-radius: 4px;
            color: $textcolor1;
            background-color: $bgcolor;
            padding-left:1vw;
            padding-right:1vw;
            box-shadow: none;
        }

        select.empty {
            outline : none;
            box-shadow: none;
            border: 1px solid red;
            color : red;
            font-weight: bold;
        }

        select.empty:hover, select.empty:focus, select.empty:after {
            outline : none;
            box-shadow: none;
            border: 2px solid red;
            color : red;
            font-weight: bold;
        }
    }
    
    .label {
        color : $textcolor1;
        font-size: $d-extraSmall;
        font-weight: bold;
        margin:0;
        padding:0;
    }
    
        
    input[type=text], input[type=date], input[type=month],  input[type=password], input[type=number], input[type=url], textarea {
        height : 2.5vw;
        border: 1px solid lightgrey;
        border-radius: 4px;
        color: $textcolor1;
        background-color: $bgcolor;
        padding-left:1vw;
        padding-right:1vw;
        box-shadow: 2px 2px 2px #555;
    }

    input[type=text]:hover, input[type=date]:hover, input[type=month]:hover,  input[type=password]:hover, input[type=number]:hover, input[type=url]:hover, textarea:hover, input[type=text]:focus, input[type=date]:focus, input[type=month]:focus,  input[type=password]:focus, input[type=number]:focus, input[type=url]:focus, textarea:focus {
        border: 2px solid $textcolor1;
        border-radius: 4px;
        outline: none;
        color: $textcolor1;
        background-color: $bgcolor;
        padding-left:1vw;
        padding-right:1vw;
        box-shadow: none;
        font-weight: bold;
    }

    
    .col-xs-2 p{
        color : $textcolor1;
        font-size: $d-extraSmall;;
        font-weight: bold;
    }

    .m-memberMatrix input{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width:85%;
    }

    textarea {
        height: 8vw;
        width: 100%;
    }
}

.collapsible {
    color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    width: 100%;
        background-color: $textcolor1;
        border-radius: 4px;
        height: 3.5vw;
        border:solid $textcolor1;
        border: 2px solid $textcolor1;
        box-shadow: 3px 3px 2px #555;
        padding-left: 1vw;
        font-size:$d-medium;
        font-weight: bold;
        color: white;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-right: 1vw;
  }

  .active2 {
    outline: none;
  }
  
  .active2:after {
    content: "\2212";
  }
  
  .collapsedContent {
    max-height:0;
    font-size: $d-small;
    margin-top : 2vw;
    padding : 0 2vw;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    font-weight : bold;
  }
}