body {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
  scroll-behavior: smooth;
}

body, p, a {
  font-family: 'Poppins';
  letter-spacing: 1px;
}

p {
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins';
}

main {
  flex: 1 0 auto !important;
}

.hideAll {
  visibility: hidden;
}

.flex {
  display: flex;
  /* flex-wrap: wrap; */
}

.border {
  border: solid !important;
}

.container {
  width: 90%;
}

.almost-full-screen {
  min-height: 90vh;
}

.img-logo {
  margin: 0.8rem;
  height: 2.5rem;
  width: inherit;
  background-image: none;
}

nav, .nav-wrapper, .nav-wrapper a {
  height: 3.8rem;
}

.nav-wrapper a:hover {
  background-color: white !important;
  color: black !important;
  font-weight: bold !important;
}

.nav-wrapper a.active {
  background-color: white !important;
  color: #D41367 !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
  border-bottom: solid 4px #D41367;
}

#aboutUs .section-image {
  max-width: 15rem;
  max-height: 20rem;
  margin: auto;
}

#aboutUs .section-text {
  text-align: justify;
  font-family: 'Poppins' !important;
}

#aboutUs .card {
  font-family: 'Poppins';
  max-width: 18rem;
  min-height: 15rem;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}

#aboutUs .card hr {
  border: solid white 1px;
  background-color: white;
  width: 80%;
  margin-top: 8%;
  margin-bottom: 2%;
}

#aboutUs .card .card-number {
  font-family: 'Poppins';
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 3.5rem;
}

#aboutUs .card h1, #aboutUs .card h2, #aboutUs .card h3, #aboutUs .card h4, #aboutUs .card h5, #aboutUs .card h6 {
  font-family: 'Poppins';
  letter-spacing: 1px;
}

#council .header h1 {
  font-size: 4rem;
}

#council .header hr {
  border-width: 1px;
  width: 90%;
}

#council .drr-section .col {
  padding: 5% !important;
}

#council .drr-section .card {
  background-color: #D41367;
  margin-left: -5rem;
  min-height: 22rem;
  min-width: 22rem;
  z-index: -999;
  width: 80%;
  height: 100%;
  border-radius: 5% !important;
}

#council .drr-section .card h1, #council .drr-section .card h2, #council .drr-section .card h3, #council .drr-section .card h4, #council .drr-section .card h5, #council .drr-section .card h6 {
  font-weight: bold;
  font-family: 'Poppins';
  letter-spacing: 1px;
}

#council .drr-section .card-content {
  margin-left: 6rem;
  margin-right: 1rem;
}

#council .section-image {
  height: 16rem;
  width: 13rem;
  border-radius: 5% !important;
}

#council .divider-section {
  height: 8vh;
  padding: 1%;
}

#council .carousel {
  max-height: 20rem;
}

#council .carousel-item {
  margin: 0 auto;
}

#council .carousel-item img {
  border-radius: 10%;
  width: 15rem !important;
  height: 15rem !important;
}

#council .profile-card {
  width: 50% !important;
  margin: auto;
  text-align: center;
}

#council .post {
  color: #D41367;
}

#council .name {
  color: #337ab7;
}

.footer-copyright {
  font-size: 1rem;
}

.footer-copyright i {
  float: right;
  margin-left: 1%;
  margin-right: 1%;
}



#hero {
  width: 100%;
  height: calc(100vh - 114px);
  padding: 0;
  overflow: hidden;
}

#hero .carousel-item {
  width: 100%;
  height: calc(100vh - 114px);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hero .carousel-item::before {
  content: '';
  background-color: rgba(13, 30, 45, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#hero .carousel-content {
  text-align: left;
}

@media (max-width: 992px) {
  #hero, #hero .carousel-item {
    height: calc(100vh - 70px);
  }
  #hero .carousel-content.container {
    padding: 0 50px;
  }
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0;
  background: #428bca;
  
}

#hero .btn-get-started:hover {
  background: #1c5c93;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}




#imageLoader{
  background-image: url("{% static 'Main/images/landing2.jpg' %}");
  background-position:center center;
  background-repeat:no-repeat;
  background-clip:content-box;
}

.indicators .active {
    background-color: #D41367 !important;
}