@media screen and (max-width: 1000px) {
  .container {
    width: 80% !important;
  }
  #aboutUs h1 {
    font-size: 2.5rem;
  }
  #aboutUs .section-image {
    max-width: 15rem;
    max-height: 20rem;
    margin: 1.5rem auto;
  }
  #aboutUs .section-text {
    text-align: center;
  }
  #aboutUs .card {
    max-width: 18rem;
  }
  #council .section-image {
    height: 16rem;
    width: 13rem;
    border-radius: 5% !important;
  }
  #council .card {
    margin-left: -5rem;
    min-height: 22rem;
    min-width: 15rem;
    z-index: -999;
    width: 80%;
    height: 100%;
    border-radius: 5% !important;
  }
  #council .card h1, #council .card h2, #council .card h3, #council .card h4, #council .card h5, #council .card h6 {
    font-weight: bold;
    font-family: 'Poppins';
    letter-spacing: 1px;
  }
  #council h1 {
    font-family: 'Sofia';
  }
  #council .carousel {
    max-height: 20rem;
    padding: 5%;
    max-width: 20rem;
    margin: auto;
  }
  #council .carousel-item {
    margin: 0 auto;
  }
  #council .carousel-item img {
    border-radius: 10%;
    max-height: 18rem;
    max-width: 15rem;
  }
  .footer-copyright {
    text-align: center;
  }
  .footer-copyright i {
    float: none;
    margin: 5%  1%;
  }
}
