@media screen and (max-width: 1000px) {
  .container {
    width: 80% !important;
  }
  .sidenav-trigger {
    margin-left: 0.01rem !important;
  }


  .slides{
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-color: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  }


  .sidenav a.active {
    color: white !important;
    font-size: 1.1rem !important;
    font-weight: bold !important;
    background-color: #D41367 !important;
  }
  #aboutUs h1 {
    font-size: 2.5rem;
  }
  #aboutUs .section-image {
    max-width: 15rem;
    max-height: 20rem;
    margin: 1.5rem auto;
  }
  #aboutUs .section-text {
    text-align: center;
  }
  #aboutUs .card {
    max-width: 18rem;
  }
  #council h1, #council h2, #council h3, #council h4, #council h5, #council h6 {
    font-family: 'Poppins';
  }
  #council .header h1 {
    font-size: 2.2rem;
  }
  #council .section-image {
    height: 16rem;
    width: 13rem;
    border-radius: 5% !important;
  }
  #council .mobile-profile .card {
    width: 80% !important;
    margin: auto;
    border-radius: 5%;
    margin-top: 2rem;
  }
  #council .mobile-profile .section-image {
    height: 16rem;
    width: 100%;
    border-radius: 5% !important;
  }
  #council .carousel {
    max-height: 20rem;
    padding: 5%;
    max-width: 20rem;
    margin: auto;
  }
  #council .carousel-item {
    margin: 0 auto;
  }
  #council .carousel-item img {
    border-radius: 10%;
    max-height: 13rem;
    max-width: 13rem;
  }
  #council .profile-card {
    width: 70% !important;
    margin-bottom: 5rem;
  }
  .footer-copyright {
    text-align: center;
  }
  .footer-copyright i {
    float: none;
    margin: 5%  1%;
  }
}
