body {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body, p, a {
  font-family: 'Poppins';
  letter-spacing: 1px;
}

p {
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins';
}

main {
  flex: 1 0 auto !important;
}

.hideAll {
  display: none;
}

.border {
  border: solid !important;
}

.almost-full-screen {
  min-height: 90vh;
}

.spinner-layer {
  border-color: #D41367 !important;
}

.flex {
  display: flex;
}

.container {
  width: 90%;
}

.img-logo {
  margin: 0.8rem;
  height: 2.5rem;
  width: inherit;
  background-image: none;
}

nav, .nav-wrapper, .nav-wrapper a {
  height: 3.8rem;
}

.nav-wrapper a:hover {
  background-color: white !important;
  color: black !important;
  font-weight: bold !important;
}

.nav-wrapper a.active {
  background-color: white !important;
  color: #D41367 !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
  border-bottom: solid 4px #D41367;
}

a.pink-text, a.pink-text:hover {
  color: #D41367 !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
}

#quote {
  display: none;
  margin: 5%;
  color: #D41367;
  font-weight: bold;
}

#aboutUs .section-image {
  max-width: 15rem;
  max-height: 20rem;
  margin: auto;
}

#aboutUs .section-text {
  text-align: justify;
  font-family: 'Poppins' !important;
}

#aboutUs .card {
  font-family: 'Poppins';
  max-width: 18rem;
  min-height: 15rem;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}

#aboutUs .card hr {
  border: solid white 1px;
  background-color: white;
  width: 80%;
  margin-top: 8%;
  margin-bottom: 2%;
}

#aboutUs .card .card-number {
  font-family: 'Poppins';
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 3.5rem;
}

#aboutUs .card h1, #aboutUs .card h2, #aboutUs .card h3, #aboutUs .card h4, #aboutUs .card h5, #aboutUs .card h6 {
  font-family: 'Poppins';
  letter-spacing: 1px;
}

#council .header h1 {
  font-size: 4rem;
}

#council .header hr {
  border-width: 1px;
  width: 90%;
}

#council .drr-section .col {
  padding: 5% !important;
}

#council .drr-section .card {
  background-color: #D41367;
  margin-left: -5rem;
  min-height: 22rem;
  min-width: 22rem;
  z-index: -999;
  width: 80%;
  height: 100%;
  border-radius: 5% !important;
}

#council .drr-section .card h1, #council .drr-section .card h2, #council .drr-section .card h3, #council .drr-section .card h4, #council .drr-section .card h5, #council .drr-section .card h6 {
  font-weight: bold;
  font-family: 'Poppins';
  letter-spacing: 1px;
}

#council .drr-section .card-content {
  margin-left: 6rem;
  margin-right: 1rem;
}

#council .section-image {
  height: 16rem;
  width: 13rem;
  border-radius: 5% !important;
}

#council .divider-section {
  height: 8vh;
  padding: 1%;
}

#council .carousel {
  max-height: 20rem;
}

#council .carousel-item {
  margin: 0 auto;
}

#council .carousel-item img {
  border-radius: 10%;
  width: 15rem !important;
  height: 15rem !important;
}

#council .profile-card {
  width: 50% !important;
  margin: auto;
  text-align: center;
}

#council .post {
  color: #D41367;
}

#council .name {
  color: #337ab7;
}

.footer-copyright {
  font-size: 1rem;
}

.footer-copyright i {
  float: right;
  margin-left: 1%;
  margin-right: 1%;
}

.header-section {
  min-height: 15vh;
  background-color: #032f55;
  color: white !important;
  padding: 3%;
}

.header-section hr {
  width: 8%;
  border: solid white 1.5px !important;
  background-color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

* {
  outline: none;
}

.custom-anchor-tag {
  cursor: pointer;
}

.zone-drop-down {
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: left;
}

.zone-drop-down .collapsible-header {
  font-weight: bold;
  border: solid #d41367;
  box-shadow: none !important;
  border-radius: 15px;
}

.zone-drop-down .collapsible-header:focus, .zone-drop-down .collapsible-header:hover {
  background-color: #d41367 !important;
  border-color: #d41367 !important;
  color: white;
}

.zone-drop-down .collapsible-body li {
  border-bottom: solid #f1f1f1 1px;
  font-weight: 500;
  padding: 3% 0 3% 5%;
}

.zone-drop-down .collapsible-body li .row {
  margin: 0 !important;
}

.no-shadows {
  box-shadow: none !important;
}

.no-border {
  border: none !important;
}

#clubInformation {
  width: 90%;
  height: 80vh !important;
  max-height: 80vh !important;
}

#clubInformation #clubName {
  font-weight: bold;
  font-size: 2.5vw;
  color: #D41367;
  text-align: center;
}

#clubInformation #clubLogo img {
  height: auto;
  width: 10vw;
}

#clubInformation img {
  height: 100px;
}

#clubInformation .collapsible-header {
  font-weight: 900;
  border-bottom: solid #032f55 thick;
  padding-left: 0% !important;
  padding-right: 0% !important;
}

#clubInformation .collapsible-header i {
  float: right;
  color: #D41367;
}

#clubInformation .collapsible-body {
  padding: 0 !important;
  padding-bottom: 2% !important;
  text-align: justify;
}
