@media screen and (max-width: 1000px) {
  .tasks {
    width: 90%;
    margin: 0 auto;
  }
  .tasks .card {
    padding: 1em;
  }
  .tasks .heading {
    width: 100% !important;
    background-color: #337ab7;
    border-radius: 4px;
    height: 9vw;
    line-height: 9vw;
    border: solid black;
    border: 2px solid #337ab7;
    box-shadow: 3px 3px 2px #555;
    padding-left: 1vw;
    font-size: 4vw;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-top: 2.5em;
  }
  .tasks .label {
    color: #D41367;
    font-size: 3vw;
    font-weight: bold;
  }
  .tasks .downloadButton, .tasks .uploadButton, .tasks .custom-file {
    margin-top: 1em;
    border-radius: 4px;
    min-height: 2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .tasks .row {
    height: 90%;
  }
  .tasks .header {
    color: #D41367;
    font-size: 5vw;
  }
  .tasks .subheader {
    color: #337ab7;
    font-size: 4vw;
  }
  .tasks h3 {
    font-size: 4vw;
    text-align: justify;
  }
  .tasks .taskRow {
    margin: 0;
    padding: 1.5em;
  }
  .tasks #taskContainer {
    padding: 0.8em;
    background-color: #337ab7;
  }
  .tasks p, .tasks a, .tasks div {
    word-break: normal;
    white-space: normal;
  }
  .tasks input, .tasks select {
    min-height: 2em;
    width: 100%;
  }
}
